<ion-view view-title="{{heading}}">
   <ion-content id="fhm_page" >
      <div class="fhm_container">
        <div class="fhm_row">
          
          <a ng-href="#/appmam/selfie">
            <div class="fhm_item">
              Amigo Selfie
            </div>
          </a>

          <a ng-href="#/appmam/novidades">
            <div class="fhm_item">
              Novidades
            </div>
          </a> 

        </div>

        <div class="fhm_row">
          <a ng-href="#/appmam/galeria">
            <div class="fhm_item">
            <img src="img/galeria.png" class="teste">
                Galeria
            </div>
          </a>

          <a ng-href="#/appmam/atracoes">
            <div class="fhm_item">
              Atrações
            </div>
          </a>
        </div>

        <div class="fhm_row">
          <a ng-href="#/appmam/localizacao">
            <div class="fhm_item">
              Localização
            </div>
          </a>

          <a ng-href="#/appmam/sobre">
            <div class="fhm_item">
              Sobre
            </div>
          </a>
        </div>



      </div>
    </ion-content>
      
</ion-view>