<ion-view view-title="{{heading}}" class="feeds-categories-view">

  <ion-content>
    <div class="row categories-list">
      <div class="col col-50">
        <a class="feed-category" href="#/appmam/selfie">
          <pre-img ratio="_1_1" helper-class="square-image">
            <div class="pre-img _1_1 square-image finish-loading">  
              <ng-transclude><img class="category-image" ng-src="img/selfie.png"  src="img/selfie.jpg"></ng-transclude>
            </div>
          </pre-img>
            <div class="category-bg"></div>
            <span class="category-title ng-binding">Amigo Selfie</span>
          </a>
      </div><!-- end -->

      <div class="col col-50">
        <a class="feed-category" href="#/appmam/novidades">
          <pre-img ratio="_1_1" helper-class="square-image">
            <div class="pre-img _1_1 square-image finish-loading">  
              <ng-transclude><img class="category-image" ng-src="img/news.png" src="img/news.jpg"></ng-transclude>
            </div>
          </pre-img>
            <div class="category-bg"></div>
             <span class="category-title ng-binding">Novidades</span>
          </a>
      </div><!-- end -->
 
      <div class="col col-50">
        <a class="feed-category" href="#/appmam/galeria">
          <pre-img ratio="_1_1" helper-class="square-image">
            <div class="pre-img _1_1 square-image finish-loading" >  
              <ng-transclude><img class="category-image" ng-src="img/galeria.png" src="img/galeria.png"></ng-transclude>
            </div>
          </pre-img>
            <div class="category-bg"></div>
             <span class="category-title ng-binding">Galeria</span>
          </a>
      </div><!-- end -->

      <div class="col col-50">
        <a class="feed-category" href="#/appmam/atracoes">
          <pre-img ratio="_1_1" helper-class="square-image">
            <div class="pre-img _1_1 square-image finish-loading" >  
              <ng-transclude><img class="category-image" ng-src="img/atracoes.png" src="img/atracoes.png"></ng-transclude>
            </div>
          </pre-img>
            <div class="category-bg"></div>
             <span class="category-title ng-binding">Atrações</span>
          </a>
      </div><!-- end -->
 
      <div class="col col-50">
        <a class="feed-category" href="#/appmam/localizacao">
          <pre-img ratio="_1_1" helper-class="square-image">
            <div class="pre-img _1_1 square-image finish-loading" >  
              <ng-transclude><img class="category-image" ng-src="img/localizacao.png" src="img/localizacao.png"></ng-transclude>
            </div>
          </pre-img>
            <div class="category-bg"></div>
              <span class="category-title ng-binding">Localização</span>
          </a>
      </div><!-- end -->

      <div class="col col-50">
        <a class="feed-category" href="#/appmam/sobre">
          <pre-img ratio="_1_1" helper-class="square-image">
            <div class="pre-img _1_1 square-image finish-loading" >  
              <ng-transclude><img class="category-image" ng-src="img/sobre.png" src="img/sobre.png"></ng-transclude>
            </div>
          </pre-img>
            <div class="category-bg"></div>
             <span class="category-title ng-binding">Sobre</span>
          </a>
      </div><!-- end -->
    </div>
  </ion-content>    
</ion-view>
















