<ion-view view-title="Configurações">
   <ion-content has-header="true">
      <ul class="list">
      	<li>
           <div class="item item-divider">
             Jingle
           </div>
        </li>
        <li class="item item-toggle">
        	  Ouvir Jingle deste ano
           <label class="toggle toggle-assertive">
             <!-- <input ng-model="pushNot.pushStatus" ng-click="savePushDetails();" type="checkbox"> -->
             <input ng-model="pushNot.pushStatus" ng-click="play('http://www.stephaniequinn.com/Music/Commercial%20DEMO%20-%2013.mp3')" type="checkbox"> 

             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li>
           <div class="item item-divider">
             Sobre o aplicativo
           </div>
        </li>
        <li class="item item-button-left" ng-click="shareArticle(AppName, AndroidAppUrl);">
          	Compartilhar App
          	<button class="button button-assertive">
            	<i class="icon ion-android-share-alt"></i>
          	</button>
        </li>
        <li class="item item-button-left" ng-click="openLinkSystem(AndroidAppUrl);">
				    Deixar uma resenha
          	<button class="button button-assertive">
            	<i class="icon ion-ios-star-outline"></i>
          	</button>
        <li>
           <div class="item item-divider">
             Shalom Parquelândia
           </div>
        </li>
        <li class="item item-button-left" ng-click="openLinkSystem('fb://facewebmodal/f?href=https://fb.com/parquelandiash');">
        		Seguir página
          	<button class="button button-positive">
            	<i class="icon ion-social-facebook"></i>
          	</button>
        </li>
        <li>
           <div class="item item-divider">
             Sobre o desenvolvedor - Contato
           </div>
        </li>

        <li class="item item-button-left" ng-click="openLinkSystem('tel:085-98708-4721');">
            (85) 98708-4721  
            <button class="button button-royal">
              <i class="icon ion-iphone"></i>
            </button>
        <li>

        <li class="item item-button-left" ng-click="openLinkSystem('mailto:rafaelmp.web@gmail.com');">
            rafaelmp.web@gmail.com 
            <button class="button button-royal">
              <i class="icon ion-email"></i>
            </button>
        <li>

        
      </ul>
    </ion-content>
   
</ion-view>