<ion-view view-title="Sobre o Meu amigo é Massa">
   <ion-content class="post-content" padding="10">
   
   	<p>
   	O “Meu Amigo é Massa” é um evento realizado pelo Shalom da Parquelândia, em Fortaleza. Teve sua primeira edição em 2004, fruto de uma inspiração de Deus enquanto alguns jovens de grupos de oração rezavam juntos, em vista de realizar um evento para celebrar o Dia do Amigo. Neste sábado (26), show de Ana Gabriela e rodízio de pizzas na quadra do colégio Master marcam o lançamento da festa, que acontecerá em 7 de junho. A entrada (show+rodízio) custa R$ 17.
   	</p>

	A ideia inicial era promover uma noite de convivência com música, declarações de amizade, menu de pizzas, para celebrar o dom da amizade entre jovens da Obra Shalom no bairro e os missionários da Comunidade. O evento era aberto também para outros jovens que quisessem participar.
	</p>

	<p>
	Já à primeira edição, vieram mais pessoas do que se esperava, e se percebeu que o “Meu Amigo é Massa” era um projeto do coração de Deus com uma dimensão muito maior do que se podia imaginar. A partir da segunda edição, jovens de outros centros de evangelização de Fortaleza já participavam da festa, assim como diversas pessoas que ainda não frequentavam grupo de oração, motivados por aqueles que estiveram no primeiro evento.
	</p>

	<p>
	À medida que os anos se passavam, os organizadores do “Meu Amigo é Massa” se surpreendiam pela fidelidade de Deus e pelo Seu amor que atraía e continua a atrair muitos corações através dessa festa.
	</p>

	<p>
	Em 2014, houve  a edição especial do “Meu Amigo é Massa”, comemorativa dos 10 anos do evento. 
	</p>

	<p>
	“Para quem deseja viver uma noite diferente, conviver com seus amigos, fazer novas amizades, ao som de uma boa música esta é uma ótima oportunidade. 
	</p>
   
   </ion-content>
</ion-view>