<ion-view title="{{entry.title}}">
    
    <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="shareEntry()"><i class="icon ion-share"></i></a>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <video id="video" ng-src="{{getTrustedResourceUrl(mediaObject(entry).url)}}" controls autoplay ng-if="hasVideo(entry)"></video>

        <audio id="audio" ng-src="{{getTrustedResourceUrl(mediaObject(entry).url)}}" controls autoplay ng-if="hasAudio(entry)"></audio>

        <img ng-src="{{getTrustedResourceUrl(mediaObject(entry).url)}}" ng-if="!hasVideo(entry) && !hasAudio(entry)"></img>
        
        <div class="padding">
            
            <h2 class="title">{{entry.title}}</h2>
            <div style="padding:0 0 20px 0;">Posted {{entry.publishedDate }}</div>
            <p ng-bind-html="content"></p>
            
            <p><button class="button icon-left ion-share button-outline button-positive" ng-click="shareEntry()">Share this</button></p>   

            <button class="button button-full button-positive" ng-click="loadURL(entry.link)">
            View feed
            </button>    
            
        </div>

    </ion-content>
</ion-view>