<ion-view title="{{title}}">
    <ion-content class="has-header" overflow-scroll="true">
        
         <ion-list>

            <div class="item item-icon-left">
            <i class="icon ion-flag"></i>
            {{title}}
            </div>

            <div class="item item-icon-left">
            <i class="icon ion-information-circled"></i>
            <strong>Description:</strong> {{description}}
            </div>

            <div class="item item-icon-left">
            <i class="icon ion-social-rss"></i>
            <strong>Feed URL:</strong> {{link}}
            </div>

            <div class="item item-divider">Feeds</div>
            
            <a class="item" ng-class="{'item-thumbnail-left' : (getImage($index) && !feed.mediaGroups) || (feed.mediaGroups && (!hasVideo(feed) && !hasAudio(feed))) || (feed.mediaGroups && hasVideo(feed))}" href="#/app/feed-detail/{{$index}}" ng-repeat="feed in feeds | limitTo: paginationLimit()">
                
                <img ng-if="feed.mediaGroups && !hasVideo(feed) && !hasAudio(feed)" ng-src="{{feed.mediaGroups[0].contents[0].url}}" class="thumbnail"></img>
                <img ng-if="feed.mediaGroups && hasVideo(feed)" ng-src="{{feed.mediaGroups[0].contents[0].thumbnails[0].url}}" class="thumbnail"></img>
           
                <img ng-if="getImage($index) && !feed.mediaGroups" ng-src="{{getImage($index)}}" class="thumbnail" alt="{{feed.title}}">
                
                <h2 class="title">{{feed.title}}</h2>
                <p ng-bind-html="feed.contentSnippet"></p>
            </a>
        
         </ion-list>
    
        <button class="button button-block button-positive" ng-show="hasMoreItems()" ng-click="showMoreItems()" >
        Show more
        </button>
    
    </ion-content>
</ion-view>